body{
    background-image: url(./imgs/ignasi_pattern_s.png);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100vh;
   
    
}
header{
    height: 70px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    
}
.ad{
    background-color: #4aaaa5;
    padding: 20px;
    color: white;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    line-height: 35px;
    justify-content: flex-start;
    font-weight: 700;
    font-size: 18px;
    margin-left: 100px;
    
}
nav{
    margin-left: auto;
    justify-content: center;
    align-self: center;
}
nav>ul {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    
}
li{
    list-style: none;
    margin-right: 20px;
  
}
a{
    color: gray;
    
}
li a{
    line-height: 70px;
}
a:hover{
    
    text-decoration: none;
}
.sekil {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 15px;
    
    
}
section{
 
    flex-wrap: wrap;
    margin-top: 50px;
}



p {
    line-height: 30px;
    color: #bbc;
    

}
section h1{
    color: #4aaaa5;
    padding-bottom: 20px;
    font-weight: 700;
    background-color: white;
}
.section{
    background-color: white;
    padding: 30px;
    box-sizing: border-box;
}
aside h1{
    font-size: 16px;
}
.logos{
    background-color: white;
    text-align: center;
}
.logos img{
    width: 55px;
    height: 55px;
    
}
aside{
    align-self: flex-start;
    background-color: white;
    margin-left: 40px;
    padding: 30px;
    margin-left: auto;
    

}
footer{
    height: 60px;
    background-color: gray;
    text-align: center;
    line-height: 60px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-top: 5px solid #4aaaa5;
    position: absolute;
    width: 100%;
    bottom: 0px;
    
}
@media (max-width:991px){
    header .ad{
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
        line-height: 70px;
        
    }
    nav{
        margin-left: auto;
        margin-right: auto;
    

    }
   aside{
       margin-left: auto;
       margin-right: auto;
       margin-top: 30px;
   }
   .section{
    margin-right: auto;
    margin-left: auto;
}
}
label{
    color: gray;
}


input,textarea{
    width: 100%;
}

.submit{
    width: 100px;
    padding: 10px 20px;
    background-color: #4aaaa5;
    color: white;
    border: none;
}
.sekil1 img{
    width: 200px;
    height: 200px;
    
    
    
}
.sekil1{
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
    margin: 30px;
    
}

.sekil1>p{
    position: absolute;
    height: 30px;
    background-color: #4aaaa5;
    color: white;
    width: 100%;
    bottom: 0px;
    text-align: center;
    font-weight: bold;
}





